<div class="container">
    <div *ngFor="let comment of comments[0]">
        <hr>
        <div class="row">
            <div class="col-md-2 mt-2">
                <strong>Name: </strong>
            </div>
            <div class="col-md-10 mt-2">
                {{comment.name}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mt-2">
                <strong>Email: </strong>
            </div>
            <div class="col-md-10 mt-2">
                {{comment.email}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mt-2">
                <strong>Comment: </strong>
            </div>
            <div class="col-md-10 mt-2">
                {{comment.body}}
            </div>
        </div>
    </div>
</div>