<h1 class="mt-4 mb-4">Post</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-2 ">
            <div class="card mt-2" *ngFor="let post of posts[0]">
                <div class="card-body">
                    <h5 class="card-title">{{post.title |titlecase}}</h5>
                    <p>{{post.body}}</p>
                    <a class="btn btn-primary  btn-sm" data-bs-toggle="collapse" href="#comments" role="button"
                        aria-expanded="false" (click)="setId(post.id)">Comments</a>
                    <div class="collapse mt-4" id="comments">
                        <app-comments [id]="idenviar" ></app-comments>
                    </div>
                </div>
            </div>
        </div>
    </div>